.principalBody {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-image: url('https://miro.medium.com/v2/resize:fit:1200/1*-nGOaPQzlTbUGkndeFdxbQ.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
}
