.principalBody {
    display: flex;
    text-align: justify-content; 
    align-items: center;
    align-content: center;
    width: vh-100;
    background-image: url('https://miro.medium.com/v2/resize:fit:1200/1*-nGOaPQzlTbUGkndeFdxbQ.png') !important; 
    background-size: cover; 
    background-repeat: no-repeat;
}